*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: burlywood;
}
#panel{
    width: 80%;
    overflow: hidden;
    height: 80%;
    border-radius: 15px;
    background-color: white;
}
#top{
    width: 100%;
    height: 10%;
    background-color: rgb(189, 140, 76);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.elem{
    display: flex;
    align-items: center;
    gap: 15px;
}
.box{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    color: rgb(121, 80, 28);
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 7px;
}
#btm{
    width: 100%;
    height: calc(100% - 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 8px;
}
.bubble{
    height: 50px;
    width: 50px;
    background-color: rgb(180, 127, 58);
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    background-color: rgb(122, 73, 9);
    cursor: pointer;
}
